html{
	font-family: 'Lato', sans-serif;
	font-size: 16px; /* root font-size; "rems" are based on it.*/
	line-height: normal;
}

/* Main  Navigation */
body
{
	background-color: #101129;
	color: #fff;
}

/* Header and top Nav */

header
{
	opacity: 1;
	/*background: rgba(62, 82, 122, 0);*/
	background: rgba(15, 17, 41, 0);
}

header:hover
{
	background: rgba(15, 17, 41, 1);
}

#navigation
{
	max-width: 85%;
	margin: 0 auto;
	display: flex; /* make this a flex container */
}

#navigation .title
{
	display: inline-block;
	line-height: 1.4;

	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	align-self: center;
	color: #fff;
}

/* Nav elements */
#subNav ul
{
	max-width: 80rem;
	margin: 0 auto;
	padding: 0px;
	display: flex;
	align-items: center; 
	flex-flow: row wrap;
	min-height: 48px;
}

#subNav ul li
{
	list-style-type: none;
  	white-space: nowrap;
	flex: 0 1 auto; 
  	margin: 0;
}

#subNav ul li a 
{
	display: block;
	padding: 13px 20px;
	text-transform: uppercase;
	text-decoration: none;

	letter-spacing: 0.15rem;
	font-size: 0.75rem;
	line-height: 1.4;
	font-weight: 300;
	color: #fff;
}

#subNav ul li a:hover
{
	border-bottom: 5px solid #00A5E0;
}

/* Featured content */

.featured
{
	display: block;
	position: relative;
	top: -3rem;
	max-width: 100%;
	margin: 0;
	padding: 0;
	
	height: 38rem;
	z-index: -1;
	background-image: url("../img/code-vin.jpg");

	background-size: cover;
	background-repeat: no-repeat;
}

.featured .primary-text
{
	display: block;
	margin: 0;

	max-width: 80%;
	margin: 0 auto;
	
	padding-top: 12rem;

	font-size: 2rem;
	color: #fff;
}

.featured .primary-text .gem
{
	font-size: 4rem;
	color: #fff;
	font-weight: 700;

	margin-left: -10px;
}

/* Regular content section */

.content
{
	max-width: 110rem;
	margin: 0 auto;
	padding: 3rem;

	letter-spacing: 0.15rem;
	text-align: center;
}

.content .title
{
	max-width: 50rem;
	margin: 0 auto;

	text-align: center;
	font-size: 3rem;
	font-weight: 300;
	padding-bottom: 2rem;
}

.content .text
{
	max-width: 60rem;
	margin: 0 auto;

	justify-content: center;
	text-align: center;
}

/* content card */

.content ul
{
	display: flex;
	flex: 0 1 auto; 
  	margin: 0;
	margin-top: 5rem;

	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	text-decoration: none;
}

.content ul li
{
	display: block;

	max-width: 33%;
	margin-right: 1rem;
	padding: 30px 30px;
	padding-left: 15px;
	border-top: 1px solid;

	text-align: left;

}

/* content card button */

.content .card-button
{
	display: flex;
	flex: 1 1 0; 
	margin: 0;
  	margin-top: 1rem;

	border: 3px solid #fff;

	justify-content: center;
	align-items: center;
	list-style-type: none;
	text-decoration: none;

	width: 9rem;
	height: 2rem;
}

.content .card-button a
{
	display: block;

	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

	letter-spacing: 0.15rem;
	font-size: 0.75rem;
	line-height: 1.4;
	font-weight: 700;
	color: #fff;
}

.content .card-button a:hover
{
	color: #00A5E0;
}

.content .card-button:hover
{
	border: 3px solid #00A5E0;
}

.content ul li img
{
	height: 100%;
	width: 100%;
}

/* Footer */
footer
{
	background-color: #101129;
	max-width: 110rem;
	margin: 0 auto;
	padding: 3rem;
	padding-bottom: 1rem;

	align-items: center; 
	justify-content: center;

	color: #fff;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	text-align: left;
}

footer .to-top
{
	font-size: 1rem;
	text-align: right;
}

footer .to-top a
{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	font-size: 1rem;
	text-align: right;
}

footer .to-top a:hover
{
	color: #00A5E0;
}

footer a
{
	text-decoration: underline;
	color: #fff;

	font-weight: 800;
	text-align: right;
}

footer a:hover
{
	color: #00A5E0;
}

/* Credits specific links */
#credits a
{
	font-weight: 700;
	text-decoration: underline;
	color: #000;
}

#credits a:hover
{
	color: #00A5E0;
}


